In [1]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession \
.builder \
.appName("Employee Attrition using GradientBoostedTree") \
.config("spark.some.config.option","some-value") \
.getOrCreate()

In [3]:
df = spark.read.load('attrition-db.csv',format='csv', header = True,inferSchema = True)
df.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

### Index labels, adding metadata to the label column
### Fit on whole dataset to include all labels in index

In [5]:
labelIndexer = StringIndexer(inputCol="BusinessTravel", outputCol="intBusinessTravel").fit(df)
Employee_df=labelIndexer.transform(df)

In [6]:
Employee_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- intBusinessTravel: double (nullable = false)

In [7]:
li = StringIndexer(inputCol="Department", outputCol="intDepartment").fit(Employee_df)
Employee_df = li.transform(Employee_df)

In [8]:
Employee_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- intBusinessTravel: double (nullable = false)
 |-- intDepartment: double (nullable = false)

### Converting String columns to Int columns for vectorizing

In [9]:
li1 = StringIndexer(inputCol="EducationField", outputCol="intEducationField").fit(Employee_df)
Employee_df = li1.transform(Employee_df)

In [10]:
li2 = StringIndexer(inputCol="Gender", outputCol="intGender").fit(Employee_df)
Employee_df = li2.transform(Employee_df)
li3= StringIndexer(inputCol="JobRole", outputCol="intJobRole").fit(Employee_df)
Employee_df = li3.transform(Employee_df)
li4 = StringIndexer(inputCol="MaritalStatus", outputCol="intMaritalStatus").fit(Employee_df)
Employee_df = li4.transform(Employee_df)
li5 = StringIndexer(inputCol="Over18", outputCol="intOver18").fit(Employee_df)
Employee_df = li5.transform(Employee_df)
li6 = StringIndexer(inputCol="OverTime", outputCol="intOverTime").fit(Employee_df)
Employee_df = li6.transform(Employee_df)
Employee_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- intBusinessTravel: double (nullable = false)
 |-- intDepartment: double (nullable = false)
 |-- intEducationField: double (nullable = false)
 |-- intGender: double (nullable = false)
 |-- intJobRole: double (nullable = false)
 |-- intMaritalStatus: double (nullable = false)
 |-- intOver18: double (nullable = false)
 |-- intOverTime: double (nullable = false)

### Vectorizing the column values

In [12]:
assembler = VectorAssembler(
    inputCols=["Age", "intBusinessTravel", "DailyRate","intDepartment","DistanceFromHome","Education","intEducationField","EmployeeCount","EmployeeNumber","EnvironmentSatisfaction","intGender","HourlyRate","JobInvolvement","JobLevel","intJobRole","JobSatisfaction","intMaritalStatus","MonthlyIncome","MonthlyRate","NumCompaniesWorked","intOver18","intOverTime","PercentSalaryHike","PerformanceRating","RelationshipSatisfaction","StandardHours","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsInCurrentRole","YearsSinceLastPromotion","YearsWithCurrManager"],
    outputCol="features")

In [13]:
output = assembler.transform(Employee_df)
output.select("features").show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
|features                                                                                                                                                   |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
|[41.0,0.0,1102.0,1.0,1.0,2.0,0.0,1.0,1.0,2.0,1.0,94.0,3.0,2.0,0.0,4.0,1.0,5993.0,19479.0,8.0,0.0,1.0,11.0,3.0,1.0,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0]    |
|[49.0,1.0,279.0,0.0,8.0,1.0,0.0,1.0,2.0,3.0,0.0,61.0,2.0,2.0,1.0,2.0,0.0,5130.0,24907.0,1.0,0.0,0.0,23.0,4.0,4.0,80.0,1.0,10.0,3.0,3.0,10.0,7.0,1.0,7.0]   |
|[37.0,0.0,1373.0,0.0,2.0,2.0,4.0,1.0,4.0,4.0,0.0,92.0,2.0,1.0,2.0,3.0,1.0,2090.0,2396.0,6.0,0.0,1.0,15.0,3.0,2.0,80.0,0.0,7.0,3.0,3.0,0.0,0.0,0.0,0.0]     |
|[33.0,1.0,1392.0,0.0,3.0,4.0,0.0,1.0,5.0,4.0,1.0,56.0,3.0,1.0,1.0,3.0,0.0,2909.0,23159.0,1.0,0.0,1.0,11.0,3.0,3.0,80.0,0.0,8.0,3.0,3.0,8.0,7.0,3.0,0.0]    |
|[27.0,0.0,591.0,0.0,2.0,1.0,1.0,1.0,7.0,1.0,0.0,40.0,3.0,1.0,2.0,2.0,0.0,3468.0,16632.0,9.0,0.0,0.0,12.0,3.0,4.0,80.0,1.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0]     |
|[32.0,1.0,1005.0,0.0,2.0,2.0,0.0,1.0,8.0,4.0,0.0,79.0,3.0,1.0,2.0,4.0,1.0,3068.0,11864.0,0.0,0.0,0.0,13.0,3.0,3.0,80.0,0.0,8.0,2.0,2.0,7.0,7.0,3.0,6.0]    |
|[59.0,0.0,1324.0,0.0,3.0,3.0,1.0,1.0,10.0,3.0,1.0,81.0,4.0,1.0,2.0,1.0,0.0,2670.0,9964.0,4.0,0.0,1.0,20.0,4.0,1.0,80.0,3.0,12.0,3.0,2.0,1.0,0.0,0.0,0.0]   |
|[30.0,0.0,1358.0,0.0,24.0,1.0,0.0,1.0,11.0,4.0,0.0,67.0,3.0,1.0,2.0,3.0,2.0,2693.0,13335.0,1.0,0.0,0.0,22.0,4.0,2.0,80.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,0.0]  |
|[38.0,1.0,216.0,0.0,23.0,3.0,0.0,1.0,12.0,4.0,0.0,44.0,2.0,3.0,3.0,3.0,1.0,9526.0,8787.0,0.0,0.0,0.0,21.0,4.0,2.0,80.0,0.0,10.0,2.0,3.0,9.0,7.0,1.0,8.0]   |
|[36.0,0.0,1299.0,0.0,27.0,3.0,1.0,1.0,13.0,3.0,0.0,94.0,3.0,2.0,4.0,3.0,0.0,5237.0,16577.0,6.0,0.0,0.0,13.0,3.0,2.0,80.0,2.0,17.0,3.0,2.0,7.0,7.0,7.0,7.0] |
|[35.0,0.0,809.0,0.0,16.0,3.0,1.0,1.0,14.0,1.0,0.0,84.0,4.0,1.0,2.0,2.0,0.0,2426.0,16479.0,0.0,0.0,0.0,13.0,3.0,3.0,80.0,1.0,6.0,5.0,3.0,5.0,4.0,0.0,3.0]   |
|[29.0,0.0,153.0,0.0,15.0,2.0,0.0,1.0,15.0,4.0,1.0,49.0,2.0,2.0,2.0,3.0,1.0,4193.0,12682.0,0.0,0.0,1.0,12.0,3.0,4.0,80.0,0.0,10.0,3.0,3.0,9.0,5.0,0.0,8.0]  |
|[31.0,0.0,670.0,0.0,26.0,1.0,0.0,1.0,16.0,1.0,0.0,31.0,3.0,1.0,1.0,3.0,2.0,2911.0,15170.0,1.0,0.0,0.0,17.0,3.0,4.0,80.0,1.0,5.0,1.0,2.0,5.0,2.0,4.0,3.0]   |
|[34.0,0.0,1346.0,0.0,19.0,2.0,1.0,1.0,18.0,2.0,0.0,93.0,3.0,1.0,2.0,4.0,2.0,2661.0,8758.0,0.0,0.0,0.0,11.0,3.0,3.0,80.0,1.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0]   |
|[28.0,0.0,103.0,0.0,24.0,3.0,0.0,1.0,19.0,3.0,0.0,50.0,2.0,1.0,2.0,3.0,1.0,2028.0,12947.0,5.0,0.0,1.0,14.0,3.0,2.0,80.0,0.0,6.0,4.0,3.0,4.0,2.0,0.0,3.0]   |
|[29.0,0.0,1389.0,0.0,21.0,4.0,0.0,1.0,20.0,2.0,1.0,51.0,4.0,3.0,3.0,1.0,2.0,9980.0,10195.0,1.0,0.0,0.0,11.0,3.0,3.0,80.0,1.0,10.0,1.0,3.0,10.0,9.0,8.0,8.0]|
|[32.0,0.0,334.0,0.0,5.0,2.0,0.0,1.0,21.0,1.0,0.0,80.0,4.0,1.0,1.0,2.0,2.0,3298.0,15053.0,0.0,0.0,1.0,12.0,3.0,4.0,80.0,2.0,7.0,5.0,2.0,6.0,2.0,0.0,5.0]    |
|[22.0,2.0,1123.0,0.0,16.0,2.0,1.0,1.0,22.0,4.0,0.0,96.0,4.0,1.0,2.0,4.0,2.0,2935.0,7324.0,1.0,0.0,1.0,13.0,3.0,2.0,80.0,2.0,1.0,2.0,2.0,1.0,0.0,0.0,0.0]   |
|[53.0,0.0,1219.0,1.0,2.0,4.0,0.0,1.0,23.0,1.0,1.0,78.0,2.0,4.0,5.0,4.0,0.0,15427.0,22021.0,2.0,0.0,0.0,16.0,3.0,3.0,80.0,0.0,31.0,3.0,3.0,25.0,8.0,3.0,7.0]|
|[38.0,0.0,371.0,0.0,2.0,3.0,0.0,1.0,24.0,4.0,0.0,45.0,3.0,1.0,1.0,4.0,1.0,3944.0,4306.0,5.0,0.0,1.0,11.0,3.0,3.0,80.0,0.0,6.0,3.0,3.0,3.0,2.0,1.0,2.0]     |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

### Index labels, adding metadata to the label column
### Fit on whole dataset to include all labels in index

In [14]:
labelIndexer = StringIndexer(inputCol="Attrition", outputCol="indexedAttrition").fit(output)

### Automatically identify categorical features, and index them
### Set maxCategories so features with > 4 distinct values are treated as continuous

In [15]:
featureIndexer =\
    VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(output)

### Split the data into training and test sets (30% held out for testing)

In [16]:
(trainingData, testData) = output.randomSplit([0.7, 0.3])

### Train a GBT model

In [17]:

gbt = GBTClassifier(labelCol="indexedAttrition", featuresCol="indexedFeatures", maxIter=10)

### Chain indexers and GBT in a Pipeline

In [18]:

pipeline = Pipeline(stages=[labelIndexer, featureIndexer, gbt])

### Train model

In [19]:

model = pipeline.fit(trainingData)

### Make predictions

In [20]:

predictions = model.transform(testData)

### Select example rows to display

In [21]:

predictions.select("prediction", "indexedAttrition", "features").show(5)

+----------+----------------+--------------------+
|prediction|indexedAttrition|            features|
+----------+----------------+--------------------+
|       0.0|             0.0|[18.0,2.0,287.0,0...|
|       1.0|             0.0|[18.0,2.0,1124.0,...|
|       0.0|             0.0|[19.0,0.0,265.0,0...|
|       0.0|             0.0|[19.0,0.0,645.0,0...|
|       1.0|             1.0|[19.0,1.0,602.0,1...|
+----------+----------------+--------------------+
only showing top 5 rows

### Select (prediction, true label) and compute test error

In [24]:

evaluator = MulticlassClassificationEvaluator(
labelCol="indexedAttrition", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))
print("Accuracy=%g" %accuracy)

Test Error = 0.161435
Accuracy=0.838565

In [25]:
gbtModel = model.stages[2]
print(gbtModel)  # summary only

GBTClassificationModel (uid=GBTClassifier_4295b380c8f679608dc3) with 10 trees